<head>
    <link rel="stylesheet" href="../static/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn-tailwindcss.vercel.app/"></script>
    <script src="https://use.fontawesome.com/e523b2ba29.js"></script>
</head>
<body>
<section class="About py-5 w-full" >
    <h1 class="capitalize text-2xl font-medium text-center bg-gradient-to-r from-yellow-400 via-red-500 to-pink-500 bg-clip-text text-transparent">about Us</h1>
    <div class="w-full grid grid-cols-2">
      <div></div>
      <div class="mt-5 space-y-10 pr-60 mt-10" >
        <h2 class="text-3xl font-medium bg-gradient-to-r from-yellow-400 via-red-500 to-pink-500 bg-clip-text text-transparent" >Discover Our Restaurants Story</h2>
        <p class="text-sm text-gray-500" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nam quia sint inventore totam, similique cumque beatae dicta aliquam quod recusandae perspiciatis minima ratione fuga odit ex fugit consequuntur corporis Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt, molestias? Ab at, eveniet dignissimos dolores adipisci quos hic quam nesciunt voluptas alias explicabo dolore asperiores esse illum sint consequatur voluptatum? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit saepe consequatur commodi minus, molestias porro iusto quidem non natus similique officia aliquid rem incidunt quis error, voluptatum facere in veritatis.</p>
        <p class="text-sm text-gray-500" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nam quia sint inventore totam, similique cumque beatae dicta aliquam quod recusandae perspiciatis minima ratione fuga odit ex fugit consequuntur corporis Lorem ipsum dolor sit amet consectetur, adipisicings.</p>
        <a href = "menu.html" target="_blank"><button class="py-2 px-4 bg-orange-400 text-white rounded-lg" >Discover Menu</button></a>
      </div>
    </div>
  </section>
</body>