<head>
    <link rel="stylesheet" href="../static/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn-tailwindcss.vercel.app/"></script>
    <script src="https://use.fontawesome.com/e523b2ba29.js"></script>
</head>
<body>
    <section class="Menu py-10 bg-gray-100 space-y-8" >
        <h4 class="capitalize text-xl text-center bg-gradient-to-r from-yellow-400 via-red-500 to-pink-500 bg-clip-text text-transparent" >order online now</h4>
        <h2 class="text-3xl text-center font-medium bg-gradient-to-r from-yellow-400 via-red-500 to-pink-500 bg-clip-text text-transparent" >
          Our Speciality Cusine
        </h2> 
        <!-- <div class="flex justify-center items-center" >
          <p class="px-4 py-2 bg-gradient-to-r from-yellow-400 via-red-500 to-pink-500 bg-clip-text text-transparent font-medium border-b-2 border-pink-500" >Breakfast</p>
          <p class="px-4 py-2 bg-gradient-to-r from-yellow-400 via-red-500 to-pink-500 bg-clip-text text-transparent font-medium border-b-2 border-gray-400 " >Lunch</p>
          <p class="px-4 py-2 bg-gradient-to-r from-yellow-400 via-red-500 to-pink-500 bg-clip-text text-transparent font-medium border-b-2 border-gray-400 " >Dinner</p>
          <p class="px-4 py-2 bg-gradient-to-r from-yellow-400 via-red-500 to-pink-500 bg-clip-text text-transparent font-medium border-b-2 border-gray-400 " >Dessert</p>
          <p class="px-4 py-2 bg-gradient-to-r from-yellow-400 via-red-500 to-pink-500 bg-clip-text text-transparent font-medium border-b-2 border-gray-400 " >Shake</p>
        </div>   -->
        <div class="grid grid-cols-5" >
          <div class="flex flex-col justify-center items-center space-y-1 p-2 " >
            <img class="w-60 h-72 object-cover rounded " src="./static/burger.jpg" alt="burger" ></img>
            <p class="bg-gradient-to-r from-red-500 via-red-500 to-pink-500 bg-clip-text text-transparent" >Combo Cheese Burger and Fries</p>
            <h2 class="text-2xl text-gray-600" >Rs.250</h2>
            
          </div>
          <div class="flex flex-col justify-center items-center space-y-1 p-2 " >
            <img class="w-60 h-72 object-cover rounded " src="./static/burger2.jpg" alt="burger" ></img>
            <p class="bg-gradient-to-r from-red-500 via-red-500 to-pink-500 bg-clip-text text-transparent" >The Unthinkable Pizza</p>
            <h2 class="text-2xl text-gray-600" >Rs.450</h2>
            
          </div>
          <div class="flex flex-col justify-center items-center space-y-1 p-2 " >
            <img class="w-60 h-72 object-cover rounded " src="./static/burger3.jpg" alt="burger" ></img>
            <p class="bg-gradient-to-r from-red-500 via-red-500 to-pink-500 bg-clip-text text-transparent" >The Grand Bread Omlette</p>
            <h2 class="text-2xl text-gray-600" >Rs.130</h2>
            
          </div>
          <div class="flex flex-col justify-center items-center space-y-1 p-2 " >
            <img class="w-60 h-72 object-cover rounded " src="./static/burger4.jpg" alt="burger" ></img>
            <p class="bg-gradient-to-r from-red-500 via-red-500 to-pink-500 bg-clip-text text-transparent" >Cheese Paneer Hotdog</p>
            <h2 class="text-2xl text-gray-600" >Rs.190</h2>
            
          </div>
          <div class="flex flex-col justify-center items-center space-y-1 p-2 " >
            <img class="w-60 h-72 object-cover rounded " src="./static/burger5.jpg" alt="burger" ></img>
            <p class="bg-gradient-to-r from-red-500 via-red-500 to-pink-500 bg-clip-text text-transparent" >Special French Fries</p>
            <h2 class="text-2xl text-gray-600" >Rs.100</h2>
            
          </div>
          <div class="flex flex-col justify-center items-center space-y-1 p-2 " >
            <img class="w-60 h-72 object-cover rounded " src="./static/burger6.jpg" alt="burger" ></img>
            <p class="bg-gradient-to-r from-red-500 via-red-500 to-pink-500 bg-clip-text text-transparent" >Deluxe Veggie</p>
            <h2 class="text-2xl text-gray-600" >Rs.400</h2>
            
          </div>
          <div class="flex flex-col justify-center items-center space-y-1 p-2 " >
            <img class="w-60 h-72 object-cover rounded " src="./static/burger7.jpg" alt="burger" ></img>
            <p class="bg-gradient-to-r from-red-500 via-red-500 to-pink-500 bg-clip-text text-transparent" >Maharaja Burger</p>
            <h2 class="text-2xl text-gray-600" >Rs.180</h2>
            
          </div>
          <div class="flex flex-col justify-center items-center space-y-1 p-2 " >
            <img class="w-60 h-72 object-cover rounded " src="./static/burger8.jpg" alt="burger" ></img>
            <p class="bg-gradient-to-r from-red-500 via-red-500 to-pink-500 bg-clip-text text-transparent" >Special Magic Momos</p>
            <h2 class="text-2xl text-gray-600" >Rs.270</h2>
            
          </div>
          <div class="flex flex-col justify-center items-center space-y-1 p-2 " >
            <img class="w-60 h-72 object-cover rounded " src="./static/burger9.jpg" alt="burger" ></img>
            <p class="bg-gradient-to-r from-red-500 via-red-500 to-pink-500 bg-clip-text text-transparent" >Hokkien Noodles</p>
            <h2 class="text-2xl text-gray-600" >Rs.220</h2>
            
          </div>
          <div class="flex flex-col justify-center items-center space-y-1 p-2 " >
            <img class="w-60 h-72 object-cover rounded " src="./static/burger10.jpg" alt="burger" ></img>
            <p class="bg-gradient-to-r from-red-500 via-red-500 to-pink-500 bg-clip-text text-transparent" >Pancake</p>
            <h2 class="text-2xl text-gray-600" >Rs.310</h2>
            
          </div>
          <div>
            <a href="https://forms.gle/6vjVfi9GpsGTbrMe7" target="_blank"><button class="py-2 px-6 bg-orange-500 text-white rounded-lg" >Order Now</button></a>
          </div>
        </div>
      </section>
</body>